section{
    background-image: url(/assets/images/fundoGlobal.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    padding-bottom: 20px;

    .titulo{
        h1{
            text-align: center;
            padding-top: 50px;
            font-size: 50px;
            color: white;
        }
    
        p{
            text-align: center;
            color: white;
            font-size: 20px;
        }
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        
        p{
            align-self: start;
            margin-left: 40px;
            font-size: 25px;
            font-weight: 600;
            color: white;

            &.numero{
                margin-bottom: 60px;
                text-align: center;
                width: 100%;
                margin-left: 0;
            }
            &.centro{
                text-align: center;
                width: 100%;
                margin-left: 0;
            }
        }

        div{
            margin: 10px 0 0px 0;
            width: 80%;
            height: 300px;
            border-radius: 10px;
        }

        .primeiroCandidato{
            background-image: url(/assets/images/candidatoUm);
            background-size: cover;
            background-position: center center;
        }
        .segundoCandidato{
            background-image: url(/assets/images/candidatoDois.jfif);
            background-size: cover;
            background-position: center center;
        }
        .terceiroCandidato{
            background-image: url(/assets/images/candidatoTres.avif);
            background-size: cover;
            background-position: center center;
        }
    }

    .button{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #007BEA;
            color: white;
            width: 170px;
            height: 50px;
            border-radius: 20px;
            font-size: 20px;
            text-decoration: none;
        }
    }

    .voltar{
        position: fixed;
        background: url(/assets/images/back.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
    }
}