* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* @font-face {
    font-family: ;
    src: url();
} */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/assets/images/fundoGlobal.jpg);
  background-size: cover;
  background-position: center center;
}
body .urna-container {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
body .urna-container .display {
  margin-bottom: 20px;
  width: 100%;
}
body .urna-container .display #tela {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
}
body .urna-container .teclado {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 10px;
  margin-bottom: 20px;
}
body .urna-container .teclado button {
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  transition: background-color 0.2s;
}
body .urna-container .teclado button:hover {
  background-color: #ccc;
}
body .urna-container .actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}
body .urna-container .actions .btn-action {
  background-color: #555;
  color: #fff;
}
body .urna-container .actions .confirmar {
  background-color: green;
  color: white;
}
body .urna-container .actions button {
  width: 150px;
  height: 40px;
}
body .voltar {
  position: fixed;
  background: url(/assets/images/back.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
}

@media screen and (min-width: 480px) {
  body .urna-container {
    width: 60%;
  }
}
@media screen and (min-width: 580px) and (max-width: 640px) {
  body .urna-container {
    width: 60%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 90px);
  }
}
@media screen and (min-width: 641px) and (max-width: 700px) {
  body .urna-container {
    width: 60%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 100px);
  }
}
@media screen and (min-width: 701px) and (max-width: 760px) {
  body .urna-container {
    width: 60%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 110px);
  }
}
@media screen and (min-width: 761px) and (max-width: 799px) {
  body .urna-container {
    width: 60%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 120px);
  }
}
@media screen and (min-width: 800px) and (max-width: 850px) {
  body .urna-container {
    width: 60%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 130px);
  }
}
@media screen and (min-width: 851px) and (max-width: 900px) {
  body .urna-container {
    width: 50%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 110px);
  }
}
@media screen and (min-width: 901px) and (max-width: 950px) {
  body .urna-container {
    width: 50%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 120px);
  }
}
@media screen and (min-width: 951px) and (max-width: 1000px) {
  body .urna-container {
    width: 50%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 130px);
  }
}
@media screen and (min-width: 1001px) and (max-width: 1240px) {
  body .urna-container {
    width: 40%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 110px);
  }
}
@media screen and (min-width: 1241px) and (max-width: 1400px) {
  body .urna-container {
    width: 40%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 120px);
  }
  body .voltar {
    display: none;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1700px) {
  body .urna-container {
    width: 40%;
  }
  body .urna-container .teclado {
    grid-template-columns: repeat(3, 150px);
  }
  body .voltar {
    display: none;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../scss/global/_normalize.scss%22,%22../../../scss/global/_fonts.scss%22,%22../../../scss/pages/urna/partials/_urna.scss%22,%22../../../scss/pages/urna/partials/_urnaResponsive.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;EACA;EACA;EACA;;;ACJJ;AAAA;AAAA;AAAA;ACAA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAKZ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;ACvFR;EAEQ;IACI;;;AASZ;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;;AAOhB;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;;AAMhB;EAEQ;IACI;;EAEA;IACI;;EAIR;IACI;;;AAKZ;EAEQ;IACI;;EAEA;IACI;;EAKR;IACI%22,%22file%22:%22urna.css%22%7D */
